.booking-viewlogin-CachDeu4Canh{
    padding:23px;
}
.booking-viewlogin-HinhAnh{
    float: left;
    width: 22%;
}
.booking-viewlogin-FontCachDeu{
    margin-bottom: 16px;
}
.booking-viewlogin-ClFont{
    color: #8F8F8F;
    font-size: 14px;
    line-height: 20px;
    white-space: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}