.booking-topview-font-top{
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
}
.booking-topview-fontbot-CanhDeu{
    margin-bottom: 36px;
    margin-top: 12px;
}
.booking-topview-clfontbot{
    color: #adadad;
    opacity: 1;
  }