.section{
    margin-top: 600px;
    width: 100%;
    height: 100%;
    background-color: white;
}
.partner-form{
    padding-left: 230px;

}
.partner-content{
    display: flex;
}
.partner-content .content-partner{
    width: 400px;
    display: block;
    
}
.partner-content .icon-partner{
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.partner-content .icon-paypal{
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.content-partner{
    margin-top: 150px;
    margin-bottom: 150px;
}
.partner-content .icon-partner a img {
    width: 80px;
   
}