.form-right {
    width: 30%;
    float: left;
}
._3HMVE {
    padding: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
._2huw8{
    margin-left: auto;
    padding-left: 8px;
    cursor: pointer;
    color: #0770CD;
    font-size: 14px;
    line-height: 20px;
    white-space: normal;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
}
._2si0n {
    background-color: rgba(0,0,0,.12);
    border: none;
    height: 1px;
    margin: 0;
    margin-top: -1px;
}
._28djo{
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
}
._34Lr4 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .5px;
}
._209dq{
    margin: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
._02jfi{
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1;
}
._2910j{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiased;
}
._291jd{
    color: #8F8F8F;
    font-size: 14px;
    float: left;
    line-height: 20px;
    white-space: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.cADpK{
    max-height: 44px;
    max-width: 44px;
    float:right;
}
._10ZkQ:last-child {
    margin-bottom: 0;
}

._10ZkQ:first-child {
    margin-top: 0;
}
._10ZkQ {
    margin: 16px 0;
}
.OMkfM {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
._2HSse {
    color: inherit;
}

._1EnnQ {
    font-size: 14px;
    line-height: 20px;
}
._1KrnW {
    white-space: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.OMkfM .n4VYU {
    display: inline-block;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    color: #687176;
    padding: 0 6px;
    background: #f2f3f3;
    border-radius: 4px;
}
.OMkfM.fNyzk>div {
    padding: 0 8px;
}

.OMkfM ._1m9Ud {
    -ms-flex-item-align: center;
    align-self: center;
}
.Edww1 {
    color: #8F8F8F;
}
.OMkfM ._3Hkm2._8Yf_q {
    background: #1ba0e2;
}

.OMkfM ._3Hkm2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffc412;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
._2310d{
    padding:8px;
    padding-right:15px;
}
.tBHqZ {
    margin: 12px;
}
._3VDAS {
    padding: 12px 16px;
}
.KVDS {
    color: #00A651;
}
._2nFkQ {
    display: -webkit-box;
    align-items: center;
}
.djoq{
margin-right: auto;
}